body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
}

.header{
	text-align:center;
	height:100px;
	background-color:#F1F1F1;
}

.header-content{
	padding-top:60px;
	font-size:1.5em;
	color:#808080;
}

.button-container{
	padding-top:40px;
}

button[class^='btn-']{
	cursor:pointer;
	color:#ffffff;
	font-size:1em;
	text-shadow:0 1px 0 #2f6627;
}

.btn-action{
	text-align: center;
	margin: 0 auto;
	left: 0;
	right: 0;
	display: block;
	background-color:#44c767;
	border:1px solid #18ab29;
	padding:16px 31px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.btn-action:hover{
	background-color:#5cbf2a;
}

.btn-action.disabled{
	text-align: center;
	margin: 0 auto;
	left: 0;
	right: 0;
	display: block;
	background-color:#DA2128;
	border:1px solid #DA2128;
	padding:16px 31px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.btn-next{
	background-color:#0072BB;
	border:1px solid #0072BB;
	padding:5px 10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.btn-next:hover{
	background-color:#095586;
}

.btn-prev{
	background-color:#0072BB;
	border:1px solid #0072BB;
	padding:5px 10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.btn-prev:hover{
	background-color:#095586;
}

.btn-close{
	background-color:#DA2128;
	border:1px solid #DA2128;
	padding:5px 10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.btn-close:focus, .btn-prev:focus, .btn-next:focus{
	outline:none;
}


.content-container{
	top:40px;
	visibility: hidden;
}

.content-container.active{
	visibility: visible;
	z-index: 2;
	position:absolute;
	width: 100%;
	text-align: center;
}

.lightboxOverlay{
	visibility:hidden;
	height:100%;
	width:100%;
}

.lightboxOverlay.active{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: black;
	opacity: 0.8;
	visibility: visible;
	-webkit-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-ms-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}

.controls{
	padding-top:10px;
	padding-bottom:10px;
}

.img-container{
	display:none;
}

.img-container.active{
	display:block;
}

.img-title{
	color:#FFFFFF;
}